<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaxSolution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TaxSolution.Properties.Settings.TaxDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TaxDB.mdb;Persist Security Info=True;Jet OLEDB:Database Password=creash54321"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <TaxSolution.Properties.Settings>
            <setting name="adminPass" serializeAs="String">
                <value>21232f297a57a5a743894a0e4a801fc3</value>
            </setting>
            <setting name="superadminPass" serializeAs="String">
                <value>17c4520f6cfd1ab53d8745e84681eb49</value>
            </setting>
            <setting name="loggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logintype" serializeAs="String">
                <value />
            </setting>
            <setting name="licensekey" serializeAs="String">
                <value />
            </setting>
            <setting name="activationkey" serializeAs="String">
                <value />
            </setting>
            <setting name="hdserial" serializeAs="String">
                <value />
            </setting>
        </TaxSolution.Properties.Settings>
    </userSettings>
</configuration>